body {
    margin-top: -2%;
}

.header-fixed {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    z-index: 999;
    padding-bottom: 0%;
}

/* search bar section */
.search-bar {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid turquoise;
    padding: 5px;
    height: 21px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: gray;
}

.search-term:focus {
    color: black;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid turquoise;
    background: turquoise;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-wrapper {
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* table */
table,th,td {
    border: 1px solid #333;
    border-spacing: 10px;
    text-align: center;
    margin-top: 5%;
}

/* image */
table img {
    width: 150px;
    height: 100px;
}